body{
    font-family: 'Montserrat', sans-serif;
}
h1{
    text-align: center;
    font-size: 36px;
    color:red;
    
}
h2{
    font-weight: 600;
    font-size:22;
    color: darkgray;
}
h3{
    font-weight: 600;
    color: red;
    font-size: 18px;
    text-decoration: underline;
}
p{
    font-size: 16px;
    font-style: italic;
    text-align: justify;
}

p span {
    font-weight: bold;
}

img {
    width: 200px;
}

/* --------------------------Producto----------------------------- */
.producto{
background:rgb(223, 222, 220);
width:500px;

}

.producto-detalle{
    float: right;
    clear: both;
   
}

.detalle-item{
    text-decoration: none;
    list-style: none;
    padding: 5px 5px;
    
}
.section-tienda{
    clear: both;
    overflow: hidden;
}

/* ---------------------------------------------------------------- */
/* -----------------------Formulario------------------------------- */


input[type=text] input[type=date] input [type=email] {
    width: 300px;
    font-size: 16px;
    height: 26px;
    
}
select {
    width:160px;
}

textarea{
    width: 402px;
}

input[type=checkbox]{
    width:0px;
}

button{
    background-color: indianred;
    color: white;
    font-size: 14px;
}

button :hover{
    background-color: white;
    color:red;
    font-size: 14px;
}

form span{
    color:rgb(226, 51, 51);

}

/* ---------------------------------------------------------------- */
/* -----------------------Menu------------------------------ */


.menu{
    

    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-left: 0px;
    background: rgb(153, 53, 53);
    font-size: 30px;
    overflow: hidden;
    
}

.menu-link {
    
    text-decoration: none;
    display: block;
    color: darkgray;
    background: rgb(153, 53, 53);
    padding: 10px 20px;
    margin-bottom: 50px;
    
}

.menu-item{
    float: left;
    list-style: none;
    width: auto;
}
.section-form{
    clear: both;
}

.menu-item :hover{
    background: rgb(63, 62, 61) ;

}

/*/--------------------Nosotros----------------------/*/

.section-nosotros{
    width: 900px;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(207, 202, 202);
    }